name: Basic CI workflow
# we need separate CI workflow template to achieve that a CI
# for each of PRs cancellable and one for default branch should run on every commits
# because the runner will use `concurrency.group` in the callee worfklow which is
# configured as cancellable if we don't set `concurrency.group` to caller workflow.
on:
    workflow_call:

permissions:
    contents: read

# https://docs.github.com/en/actions/learn-github-actions/environment-variables#default-environment-variables
# https://docs.github.com/en/actions/learn-github-actions/contexts
jobs:
    warmup_dependencies_cache:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: ./.github/actions/prepare_ci

    build:
        needs:
            - warmup_dependencies_cache
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: ./.github/actions/prepare_ci
            - run: npm run build

    unittest:
        needs:
            - warmup_dependencies_cache
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: ./.github/actions/prepare_ci
            - run: npm run test

    lint:
        needs:
            - warmup_dependencies_cache
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: ./.github/actions/prepare_ci
            - run: npm run lint

    check_format:
        needs:
            - warmup_dependencies_cache
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
            - uses: ./.github/actions/prepare_ci
            - run: npm run format:check

    sentinel:
        needs:
            - build
            - unittest
            - lint
            - check_format
        runs-on: ubuntu-latest
        if: ${{ always() }}
        steps:
            - name: Check whether required jobs are successful
              if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
              # Fail this job
              run: exit 1
