name: publish to npm
on:
    release:
        types: [released]

permissions:
    id-token: write # Required for OIDC
    contents: read

jobs:
    ci:
        uses: ./.github/workflows/_ci.yaml

    publish:
        needs: [ci]
        runs-on: ubuntu-latest

        permissions:
            contents: read
            # This is required for provenance
            # see https://docs.npmjs.com/generating-provenance-statements
            id-token: write

        steps:
            - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
            - uses: ./.github/actions/prepare_ci
            - run: npm run build
              shell: bash
            - run: npm publish --workspace=packages/http-helper --access=public --provenance
              shell: bash
